{{ header }}
<!-- Product Container Starts -->
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
<!-- Row Starts -->  
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
  <!-- Content Area Starts -->
    <div id="content" class="{{ class }}">
      {{ content_top }}
    <!-- Nested Row Starts -->
      <div class="row"> 
        {% if column_left or column_right %}
          {% set class = 'col-sm-5' %}
        {% else %}
          {% set class = 'col-sm-5' %}
        {% endif %}
      {% if thumb or images %}
      <!-- Product Image Area Starts -->
        <div class="{{ class }} product-image-wrap">        
        {% if thumb %}
        <!-- Product Image Starts -->
          <div class="product-image">
            <a href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" class="img-responsive img-center" /></a>
          </div>
        <!-- Product Image Ends -->
        {% endif %}
        {% if images %}
        <!-- Additional Images Starts -->
          <ul class="list-unstyled list-inline product-image-additional">            
          {% for image in images %}          
            <li><a href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" class="img-responsive img-center" /></a></li>
          {% endfor %}            
          </ul>
        <!-- Additional Images Ends -->          
        {% endif %}
        </div>
      <!-- Product Image Area Ends -->   
      {% endif %}
      {% if column_left or column_right %}
        {% set class = 'col-sm-7' %}
      {% else %}
        {% set class = 'col-sm-7' %}
      {% endif %}
      <!-- Product Info Starts -->  
        <div id="product" class="{{ class }} product-info">
        <!-- Product Title Starts -->
          <h4 class="product-info-title">{{ heading_title }}</h4>
        <!-- Product Title Ends -->
        <!-- Product Details Starts -->
          <ul class="list-unstyled product-info-details">
            {% if manufacturer %}
            <li>{{ text_manufacturer }}&nbsp; <a href="{{ manufacturers }}">{{ manufacturer }}</a></li>
            {% endif %}
            <li>{{ text_model }}&nbsp; <span>{{ model }}</span></li>
            {% if reward %}
            <li>{{ text_reward }}&nbsp; <span>{{ reward }}</span></li>
            {% endif %}
            <li>{{ text_stock }}&nbsp; <span>{{ stock }}</span></li>
          </ul>
        <!-- Product Details Ends -->
        {% if options %}
        <!-- Product Options Starts -->
          <div class="product-info-options">
            <h5 class="product-info-options-title">{{ text_option }}</h5>
            {% for option in options %}
            {% if option.type == 'select' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for option_value in option.product_option_value %}
                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                {% if option_value.price %}
                ({{ option_value.price_prefix }}{{ option_value.price }})
                {% endif %} </option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            {% if option.type == 'radio' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="radio">
                  <label>
                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'checkbox' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'text' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
            </div>
            {% endif %}
            {% if option.type == 'textarea' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
            </div>
            {% endif %}
            {% if option.type == 'file' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-outline-1 btn-block animation"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
            </div>
            {% endif %}
            {% if option.type == 'date' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group date">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'datetime' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group datetime">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'time' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group time">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% endfor %}
            {% if recurrings %}
            <hr>
            <h3>{{ text_payment_recurring }}</h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for recurring in recurrings %}
                <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                {% endfor %}
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            {% endif %}
          </div>
        <!-- Product Options Ends -->
        {% endif %}
        {% if price %}
        <!-- Price Starts -->
          <div class="product-info-price clearfix">
          {% if not special %}
            <span class="price-new">{{ price }}</span>
          {% else %}
            <span class="price-new">{{ special }}</span> <span class="price-old">{{ price }}</span>
          {% endif %}
          {% if tax %}
            <p class="product-info-price-tax">{{ text_tax }} {{ tax }}</p>
          {% endif %}
          {% if points %}
            <p class="product-info-price-rewards">{{ text_points }} {{ points }}</p>
          {% endif %}
          {% if discounts %}
          <div class="table-responsive"> 
            <table class="table table-dark table-bordered table-striped">
              <tbody>
              {% for discount in discounts %}
                <tr><td>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</td></tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
          </div>
        <!-- Price Ends -->
        {% endif %}        
        <!-- Reviews Starts -->
        {% if review_status %}
          <div class="product-info-rating">
            <ul class="list-unstyled list-inline product-info-rating-list">
            {% for i in 1..5 %}
               {% if rating < i %}
                  <li class="product-info-rating-list-star"><span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span></li>
                  {% else %}
                  <li class="product-info-rating-list-star"><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span></li>
               {% endif %}
            {% endfor %}
              <li class="product-info-rating-list-review">
                <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">
                  {{ reviews }}
                </a>
              </li>
              <li class="product-info-rating-list-review">
                <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">
                 <i class="fa fa-edit"></i>{{ text_write }}
                </a>
              </li>
            </ul>
          </div>
        {% endif %} 
        <!-- Reviews Ends -->
        <!-- Qty & Product Add Buttons Starts -->
          <div class="product-info-cart">
            <div class="clearfix">
              <div class="form-inline">
                <div class="form-group pull-left-lg pull-left-md pull-left-sm">
                  <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                  <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
                  <input type="hidden" name="product_id" value="{{ product_id }}" />
                </div>
              </div>            
              <div class="button-group product-info-cart-btns-wrap pull-left-lg pull-left-md pull-left-sm">
                <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-cart animation"><i class="fa fa-shopping-cart"></i> {{ button_cart }}</button>
                <button type="button" data-toggle="tooltip" class="btn btn-wishlist animation" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" class="btn btn-compare animation" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
            {% if minimum > 1 %}
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
            {% endif %}
          </div>
        <!-- Qty & Product Add Buttons Ends -->
        <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script> 
        <!-- AddThis Button END --> 
        </div>
      <!-- Product Info Ends -->   
      </div>
    <!-- Nested Row Ends -->
    <!-- Product Tabs Wrap Starts -->
      <div class="product-tabs-wrap">
      <!-- Product Tabs Starts -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
          {% if attribute_groups %}
          <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
          {% endif %}
          {% if review_status %}
          <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
          {% endif %}
        </ul>
      <!-- Product Tabs Ends -->
      <!-- Product Tab Content Starts -->
        <div class="tab-content">
        <!-- Product Description Starts -->
          <div class="tab-pane active" id="tab-description">
            {{ description }}
          </div>
        <!-- Product Description Ends -->
        {% if attribute_groups %}
        <!-- Product Attribute Starts -->
          <div class="tab-pane" id="tab-specification">
            <table class="table table-dark table-striped table-bordered">
              {% for attribute_group in attribute_groups %}
              <thead>
                <tr>
                  <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                </tr>
              </thead>
              <tbody>
              {% for attribute in attribute_group.attribute %}
              <tr>
                <td>{{ attribute.name }}</td>
                <td>{{ attribute.text }}</td>
              </tr>
              {% endfor %}
                </tbody>
              {% endfor %}
            </table>
          </div>
        <!-- Product Attribute Ends -->
        {% endif %}
        {% if review_status %}
        <!-- Product Review Starts -->
          <div class="tab-pane" id="tab-review">
            <form class="form-horizontal" id="form-review">
              <div id="review"></div><br>
              <h4>{{ text_write }}</h4><hr>
              {% if review_guest %}
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label" for="input-name">{{ entry_name }}</label>
                  <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label" for="input-review">{{ entry_review }}</label>
                  <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                  <div class="help-block">{{ text_note }}</div>
                </div>
              </div>
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label">{{ entry_rating }}</label>
                  &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                  <input type="radio" name="rating" value="1" />
                  &nbsp;
                  <input type="radio" name="rating" value="2" />
                  &nbsp;
                  <input type="radio" name="rating" value="3" />
                  &nbsp;
                  <input type="radio" name="rating" value="4" />
                  &nbsp;
                  <input type="radio" name="rating" value="5" />
                  &nbsp;{{ entry_good }}</div>
              </div>
              {{ captcha }}
              <div class="buttons clearfix">
                <div class="pull-right">
                  <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                </div>
              </div>
              {% else %}
              {{ text_login }}
              {% endif %}
            </form>
          </div>
        <!-- Product Review Ends -->
        {% endif %}
        </div>
      <!-- Product Tab Content Ends -->
      </div>
    <!-- Product Tabs Wrap Ends -->
    {% if products %}
      <p>&nbsp;</p>
    <!-- Related Products Starts -->
      <div class="module-product-wrap">
      <!-- Module Heading Starts -->
        <h4 class="module-product-heading">{{ text_related }}</h4>
      <!-- Module Heading Ends -->
      <!-- Nested Row Starts -->
        <div class="row">
        {% set i = 0 %}
        {% for product in products %}
          {% if column_left and column_right %}
            {% set class = 'col-sm-6 col-xs-12' %}
          {% elseif column_left or column_right %}
            {% set class = 'col-md-4 col-sm-6 col-xs-12' %}
          {% else %}
            {% set class = 'col-lg-3 col-md-4 col-sm-6 col-xs-12' %}
          {% endif %}
        <!-- Product Col Starts -->
          <div class="product-layout {{ class }}">
          <!-- Product Module Starts -->
            <div class="product-thumb module-product animation rounded-3">
            <!-- Product Image Starts -->
              <div class="module-product-image">
                <a href="{{ product.href }}">
                  <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive img-center" />
                </a>
              </div>
            <!-- Product Image Ends -->
            <!-- Product Caption Starts -->
              <div class="module-product-caption">
              <!-- Product Name Starts -->
                <h6 class="module-product-title"><a href="{{ product.href }}">{{ product.name }}</a></h6>
              <!-- Product Name Ends -->
              <!-- Product Description Starts -->
                <div class="module-product-description hidden">
                  {{ product.description }}
                </div>
              <!-- Product Description Ends -->
              {% if product.rating %}
              <!-- Product Ratings Starts -->
                <div class="module-product-ratings">
                  {% for i in 1..5 %}
                    {% if product.rating < i %}
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x" aria-hidden="true"></i></span>
                    {% else %}
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x" aria-hidden="true"></i></span>
                    {% endif %}
                  {% endfor %}
                </div>
              <!-- Product Ratings Ends -->
              {% endif %}
              {% if product.price %}
              <!-- Product Price Starts -->
                <div class="module-product-price">
                  {% if not product.special %}
                    {{ product.price }}
                  {% else %}
                    <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                  {% endif %}
                </div>
              <!-- Product Price Ends -->
              {% endif %}
              <!-- Add To Cart Button Starts -->
                <button type="button" class="btn module-product-btn-cart animation rounded-3" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> {{ button_cart }}</button>
              <!-- Add To Cart Button Ends -->
              </div>
            <!-- Product Caption Ends -->
            </div>
          <!-- Product Module Ends -->
          </div>
        <!-- Product Col Ends -->
          {% if column_left and column_right and (i + 1) % 2 == 0 %}
            <div class="clearfix visible-md visible-sm"></div>
          {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
            <div class="clearfix visible-md"></div>
          {% elseif (i + 1) % 4 == 0 %}
            <div class="clearfix visible-md"></div>
          {% endif %}
            {% set i = i + 1 %}
        {% endfor %}  
        </div>
      <!-- Nested Row Ends -->
      </div>
    <!-- Related Products Ends -->
    {% endif %}
    {% if tags %}    
    <!-- Tags Starts -->
      <p>
        {{ text_tags }}
        {% for i in 0..tags|length %}
          {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
          {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} 
      </p>
    <!-- Tags Ends -->
    {% endif %}
    {{ content_bottom }}
    </div>
  <!-- Content Area Ends -->    
    {{ column_right }}
  </div>
<!-- Row Ends -->  
</div>
<!-- Product Container Ends -->
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        $('#cart > button').html('<img src="catalog/view/theme/mintleaf/image/icon/shopping-bag.png" alt="Search"><span id="cart-total" class="rounded-circle">' + json['text_items'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.product-image-wrap').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script> 
{{ footer }} 
