<div id="cart" class="btn-group btn-block clearfix">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn dropdown-toggle"><img src="catalog/view/theme/mintleaf/image/icon/shopping-bag.png" alt="Search"><span id="cart-total" class="rounded-circle">{{ text_items }}</span></button>
  <ul class="dropdown-menu pull-right toakk-mobile">
    {% if products or vouchers %}
    <li>
      <table class="table">
        {% for product in products %}
        <tr>
          <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left font-weight-medium"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
          <td class="text-right">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table class="table">
          {% for total in totals %}
          <tr>
            <td class="text-right"><strong>{{ total.title }}</strong></td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <div class="cart-btn-wrap clearfix">
          <a href="{{ cart }}" class="btn btn-primary pull-left rounded-0 animation"><i class="fa fa-shopping-cart"></i> {{ text_cart }}</a>
          <a href="{{ checkout }}" class="btn btn-main pull-right rounded-0 animation"><i class="fa fa-share"></i> {{ text_checkout }}</a>
        </div>
      </div>
    </li>
    {% else %}
    <li class="cart-empty">
      <p class="text-center">{{ text_no_results }}</p>
    </li>
    {% endif %}
  </ul>
</div>
