<!-- Footer Starts -->
  <footer class="main-footer animation">
  <!-- Nested Container Starts -->
    <div class="container">
    <!-- Nested Row Starts -->
      <div class="row">

      <!-- My Account Column Starts -->
        <div class="col-sm-4 col-xs-12">
        <!-- Foot Col Starts -->
          <div class="foot-col">
          <!-- Foot Col Head Starts -->
            <h4 class="foot-col-head text-color-brand font-weight-medium">About OrderApp</h4>
          <!-- Foot Col Head Ends -->
          <!-- Foot Col Body Starts -->
            <div class="foot-col-body">
            <!-- Footer Links Starts -->
              <ul class="list-unstyled footer-links mb-xs-0 mb-sm-0 font-weight-medium">

                <p> Online Kirana Shopping : Choose from a wide range of grocery, fruits, vegetables and daily essentials. 
                </p>
                  <h2>
                  <img src="{{whatsapp}}" width="48px" />
<a style="margin-left: 0px;font-size: 20px;" href="tel:+91{{config_telephone}}">+91{{config_telephone}}</a> </h2>

              </ul>
            <!-- Footer Links Ends -->
            </div>
          <!-- Foot Col Body Ends -->
          </div>
        <!-- Foot Col Ends -->
        </div>
      <!-- My Account Column Ends -->

      {% if informations %}
      <!-- Information Column Starts -->
        <div class="col-sm-4 col-xs-12">
        <!-- Foot Col Starts -->
          <div class="foot-col">
          <!-- Foot Col Head Starts -->
            <h4 class="foot-col-head text-color-brand font-weight-medium">{{ text_information }}</h4>
          <!-- Foot Col Head Ends -->
          <!-- Foot Col Body Starts -->
            <div class="foot-col-body">
            <!-- Footer Links Starts -->
              <ul class="list-unstyled footer-links mb-xs-0 mb-sm-0 font-weight-medium">
              {% for information in informations %}
                <li><a href="{{ information.href }}">{{ information.title }}</a></li>
              {% endfor %}

              <li><a href="{{ contact }}">{{ text_contact }}</a></li>
              <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>

              </ul>
            <!-- Footer Links Ends -->
            </div>
          <!-- Foot Col Body Ends -->
          </div>
        <!-- Foot Col Ends -->
        </div>
      <!-- Information Column Ends -->
      {% endif %}
      
      <!-- Divider For Small Screens Starts -->
        <div class="col-xs-12 hidden-xs hidden-md hidden-lg"><hr class="hr-1"></div>
      <!-- Divider For Small Screens Ends -->
      <!-- Contact Us Column Starts -->
        <div class="col-md-4 col-xs-12">
        <!-- Foot Col Starts -->
          <div class="foot-col last">
          <!-- Foot Col Head Starts -->
            <h4 class="foot-col-head text-color-brand font-weight-medium">Download App</h4>
          <!-- Foot Col Head Ends -->
          <!-- Foot Col Body Starts -->
            <div class="foot-col-body">
            <!-- Footer Contact Links Starts -->
                
                <div class="app-action">

                  <a href="{{play_store}}" target="_blank"><img src="{{playStorelogo}}" alt="OrderApp Available on the Play Store" class="app-btn"></a>
                    
                </div>
                <hr>
                <div>
                  <a style="margin-right: 10px;" href="{{facebook}}" target="_blank"><i class="fa_footer fa fa-facebook"></i></a>
                    <a style="margin-right: 10px;" href="{{twitter}}" target="_blank"><i class="fa_footer fa fa-twitter"></i></a>
                    
                    <a style="margin-right: 10px;" href="{{instagram}}" target="_blank"><i class="fa_footer fa fa-instagram"></i></a>
                    <!-- <a style="margin-right: 10px;" href="{{linkedin}}" target="_blank"><i class="fa_footer fa fa-linkedin"></i></a>-->

                    <a style="margin-right: 10px;" href="tel:+91{{config_telephone}}"><i class="fa_footer fa fa-whatsapp"></i></a>
                    <a style="margin-right: 10px;" href="{{youtube}}" target="_blank"><i class="fa_footer fa fa-youtube"></i></a>
                    
                </div>


            <!-- Footer Contact Links Ends -->
            </div>
          <!-- Foot Col Body Ends -->
          </div>
        <!-- Foot Col Ends -->
        </div>
      <!-- Contact Us Column Ends -->
      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </footer>
<!-- Footer Ends -->
<!-- Copyright Starts -->
  <div class="copyright">
  <!-- Nested Container Starts -->
    <div class="container text-center-xs text-center-sm clearfix">
    <!-- Copyright Text Starts -->
      <div class="pull-left-lg pull-left-md">
        <p class="copyright-text mb-lg-0 mb-md-0">{{ powered }}.</p>
      </div>
    <!-- Copyright Text Ends -->
    <!-- Payment Gateway Starts -->
      <div class="pull-right-lg pull-right-md">
        <ul class="list-unstyled list-inline mb-0 text-right-lg text-right-md animation">
          
        </ul>
      </div>
    <!-- Payment Gateway Ends -->
    </div>
  <!-- Nested Container Ends -->
  </div>
<!-- Copyright Ends -->
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>