<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}

  <!-- jQuery -->
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>

  <!-- Bootstrap -->
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

  <!-- Font Awesome -->
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />



  <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet"> 

  <!-- CSS  -->
  <link href="catalog/view/theme/mintleaf/stylesheet/stylesheet.css" rel="stylesheet">
  <link href="catalog/view/theme/mintleaf/stylesheet/stylesheet-responsive.css" rel="stylesheet">
  {% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}

  <!-- JavaScript  -->
  <script src="catalog/view/theme/mintleaf/js/custom.js" type="text/javascript"></script>
  <script src="catalog/view/theme/mintleaf/js/common.js" type="text/javascript"></script>
  {% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}
  
  {% for analytic in analytics %}
  {{ analytic }}
  {% endfor %}

  <style type="text/css">
    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .se-pre-con {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url(image/Preloader_11.gif) center no-repeat #fff;
}

  </style>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

  <script type="text/javascript">
    // Wait for window load
  $(window).load(function() {
    // Animate loader off screen
    $(".se-pre-con").fadeOut("slow");;
  });

  </script>
</head>
<body>
<div class="se-pre-con"></div>

<!-- Main Header Starts -->
  <header class="main-header">
  <!-- Nested Container Starts -->
    <div class="container">
    <!-- Top Bar Starts -->
      <div class="topbar clearfix text-center-xs font-weight-medium">
      <!-- Welcome Text Starts -->

        <div class="pull-left-lg pull-left-md pull-left-sm">
          <p >
            <a href="{{play_store}}" target="_blank"><img src="{{playStorelogo}}" alt="OrderApp Available on the Play Store" class="app-btn"></a>

            <a style="margin-left: 20px" href="tel:+91{{config_telephone}}"><i class="fa fa-whatsapp"></i>+91{{config_telephone}}</a>

          </p>

        </div>
        
        


      <!-- Welcome Text Ends -->
      <!-- Top Links Starts -->
        <div class="pull-right-lg pull-right-md pull-right-sm">
          <ul class="list-unstyled list-inline top-links mb-0 text-right-lg text-right-md text-right-sm">

            

            <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle animation" data-toggle="dropdown">
            {% if logged %}
              Hello, {{firstname}}
            {% else %}
              {{ text_account }}

            {% endif %} <span class="caret"></span></a>
              <ul class="dropdown-menu  dropdown-menu-right rounded-0">
                {% if logged %}
                  <li><a href="{{ account }}">{{ text_account }}</a></li>
                  <li><a href="{{ order }}">{{ text_order }}</a></li>
                  <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                  <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                {% else %}
                  <li><a href="{{ register }}">{{ text_register }}</a></li>
                  <li><a href="{{ login }}">{{ text_login }}</a></li>
                {% endif %}
              </ul>
            </li>
            <!-- <li class="animation"><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">{{ text_wishlist }}</a></li> -->
            <!-- <li class="animation"><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}">{{ text_shopping_cart }}</a></li> -->
            <li class="animation"><a href="{{ checkout }}" title="{{ text_checkout }}">{{ text_checkout }}</a></li>
          </ul>
        </div>
      <!-- Top Links Ends -->
      </div>

      <div class="pull-left-lg pull-left-md pull-left-sm">
        <div id="search" class="input-group">
          <input type="text" name="search" value="{{search}}"  placeholder="Search" class="form-control search-dropdown-input" style="width: 100% !important;"/>

           <span class="input-group-btn">
            <button type="button" class="btn search-dropdown-btn"><i class="fa fa-search"></i></button>
          </span>

        </div>
      </div>


    <!-- Top Bar Ends -->
    <!-- Main Menu Starts -->
      {{ menu }}
    <!-- Main Menu Ends -->
    </div>
  <!-- Nested Container Ends -->
  </header>
<!-- Main Header Ends -->