<table width="100%" cellspacing="0" cellpadding="0" border="0" height="100%">


   <tbody>


      <tr>


         <td valign="top" align="center">            <div id="template_header_image">               <p style="margin-top:0"><a href="{{site_url}}"><img src="{{logo}}" alt="{{system_name}}" style="width:197px;border:none;display:inline;font-size:14px;font-weight:bold;height:auto;line-height:100%;outline:none;text-decoration:none;text-transform:capitalize"></a></p>


            </div>


                        <table id="template_container" style="background-color:#fdfdfd;border:1px solid #dcdcdc;border-radius:3px!important" width="600" cellspacing="0" cellpadding="0" border="0">


               <tbody>


                  <tr>


                     <td valign="top" align="center">                        <table id="template_header" style="background-color:#099099;border-radius:3px 3px 0 0!important;color:#ffffff;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif" width="600" cellspacing="0" cellpadding="0" border="0">


                           <tbody>


                              <tr>


                                 <td id="header_wrapper" style="padding:36px 48px;display:block">                                    <h1 style="color:#ffffff;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-size:30px;font-weight:300;line-height:150%;margin:0;text-align:left">{{system_name}} Please Verify</h1>


                                 </td>


                              </tr>


                           </tbody>


                        </table>


                     </td>


                  </tr>


                     <tr>


<td valign="top" align="center">                        <table id="template_body" width="600" cellspacing="0" cellpadding="0" border="0">


                           <tbody>


                              <tr>


                                 <td id="body_content" style="background-color:#fdfdfd" valign="top">                                    <table width="100%" cellspacing="0" cellpadding="20" border="0">


                                       <tbody>


                                          <tr>


                                             <td style="padding:48px" valign="top">                                                <div id="body_content_inner" style="color:#737373;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left">                                                   <p style="margin:0 0 16px"> Hello <b>{{firstname}} {{lastname}}</b>,<br><br>Welcome and thank you for registering at {{store}}!.<br><br>Your account must be verified before you can login. Please verify by clicking below URL:<br>{{activate_href}}.<br><br>Best Regards,<br><br>The {{system_name}} team<br><br>                                                   </p>


                                                                                                </div>


</td>


                                          </tr>


                                       </tbody>


                                    </table>


                                 </td>


                              </tr>


                           </tbody>


                        </table>


                     </td>


                  </tr>


                  <tr>


                     <td valign="top" align="center">                        <span class="HOEnZb"><font color="#888888">                        </font></span>                        <table id="template_footer" style="background-color:#099099;border-radius:0 0 3px 3px!important;color:#ffffff;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif" width="600" cellspacing="0" cellpadding="10" border="0">


                           <tbody>


                              <tr>


                                 <td valign="top">                                    <table width="100%" cellspacing="0" cellpadding="10" border="0">


                                       <tbody>


                                          <tr>


                                             <td colspan="2" id="credit" style="padding:36px 48px 36px 48px;border:0;color:#fff;font-family:Arial;font-size:12px;line-height:125%;text-align:center" valign="middle">                                                <p>Copyright © {{year}} {{system_name}}. All rights reserved.<br>{{system_phone}} | <a href="mailto:{{system_email}}" style="color:#fff;" target="_blank">{{system_email}}</a>                                                   <br>                                                   <a href="{{about_us}}" style="color:#fff;" target="_blank">About Us</a> |                                                     <a href="{{terms}}" style="color:#fff;" target="_blank">Terms &amp; Conditions</a> |                                                    <a href="{{privacy_policy}}" style="color:#fff;" target="_blank">Privacy Policy </a>                                                </p>


                                             </td>


                                          </tr>


                                       </tbody>


                                    </table>


                                 </td>


                              </tr>


                           </tbody>


                        </table>


                     </td>


                  </tr>


               </tbody>


            </table>


         </td>


      </tr>


   </tbody>


</table>